<section id='people'>
  
  <header>
    <h1>People</h1>

    <p>These are all the people in your account</p>

  </header>  

  <table>
    <tbody>
      <% @people.each do |person| %>
        <tr>
          <td class='avatar'><%= image_tag person.gravatar('50') %></td>
          <td><%= person.name %></td>
          <td><%= person.email %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

  <%= will_paginate @people %>

</section>


<% content_for :side do %>
  <div id='people-side'>
    <%= render partial: "form" %>
  </div>
<% end %>