<% content_for :side do %>
    <section id='activity'>
      <h2>Latest document actviity...</h2>

      <ul>
        <li><strong>Chris Weisel</strong> signed <strong class='document-name'>W9.pdf</strong></li>
      </ul>

      <a href="<%= user_clear_activity_url current_user %>" id='clear'>Clear activity</a>
    </section>
<% end %>

  <script type="text/javascript">
    $(document).ready(function () {
      currentDocument.set('user_id', <%= current_user.id %>)
    });
  </script>


    <section id='signed'>
      <header>
        <h2>Signed Documents</h2>
        <p class='sub'>The ball is in your court.</p>
      </header>

      <ul class='documents'>
         <% if @signed.any? %>
        <% @signed.each do |doc| %>
        <li class='document-list-item'><h3><%= link_to doc.filename, [current_user, doc] %>
          <span>Last viewed <%= time_ago_in_words doc.created_at %> ago</span>
          <span><%= document_people_avatars doc.recipients %></span></h3></li>
        <% end %>
      <% else %>
        <p>No signed documents.</p>
      <% end %>
      </ul>
    </section>

    <section id='unsigned'>
      <header>
        <h2>Unsigned Documents</h2>
        <p class='sub'>The ball is in your court.</p>
      </header>

      <ul class='documents'>
         <% if @unsigned.any? %>
        <% @unsigned.each do |doc| %>
        <li class='document-list-item'><h3><%= link_to doc.filename, [current_user, doc] %>
          <span>Last viewed <%= time_ago_in_words doc.created_at %> ago</span>
          <span><%= document_people_avatars doc.recipients %></span></h3></li>
        <% end %>
      <% else %>
        <p>No signed documents.</p>
      <% end %>
      </ul>
    </section>

    <section id='actions'>
      <nav>
        <%= link_to "New Document", new_user_document_path(current_user), class: "button" %>
        <%= link_to "Add Person", "#", class: "button" %>

      </nav>
    </section>
