<div id='document' class='public'>
  <header>
    <h1><%= @document.filename %></h1>
    <p class='subtle'>Sign this document and we'll get going.</p>

    <ul class='bare' id='toolbar'>
      <li><a class='action' href="<%= @document.file.source.url %>">Download a copy of the document</a></li>
    </ul>

  </header>

  <div id='the-document'>
    <embed src="/test.pdf" width="800" height="575">
  </div>

  <% if @viewer != nil && @viewer.is_signee?(@document) %>
    <section id='sign-it'>
      <form method='post'>
        <header>
          <h2>Sign The Document</h2>
        </header>

        <p>Sign it.</p>

        <button class='sign'>Sign It</button>
      </form>
    </section>
  <% end %>

<section id='comments-section'>
  <h2>Comments:</h2>
  <ul id='comments'>
    <%= form_for [current_user, @document, Comment.new], :id => 'add-comment',
                                                         :remote => false  do |f| %>
      <p><strong>Add A Comment</strong></p>

      <%= f.text_area :body %>

      <button>Add Comment</button>
    <% end %>

    <% if @document.comments.any? %>
      <% @document.comments.each do |comment| %>
        <li>
          <div class='avatar'>
            <img src="<%= comment.gravatar %>">
          </div>

          <div class='content'>
            <header style='border: none; margin-bottom: 10px;'>
              <strong><%= comment.source.name %></strong>
            </header>

            <%= comment.body %>
          </div>

        <div class='clear'></div>
        </li>
      <% end %>
    <% else %>

    <p class='empty'>No comments yet.</p>

    <% end %>
  </ul>


</section>
</div>