<section id='show-document'>

  <header>
    <h1><%= @doc.filename %></h1>
    <div class='clear'></div>
  </header>

<div id='top'>
  <div id='main'>

    <section id='recipients'>
      <h2>Sent To:</h2>
      <ul id='recipients'>
        <li><%= document_people_list @doc.recipients %></li>
      </ul>
    </section>

    <section id='events'>
      <h2>Activity:</h2>
      <ul class='bare'>

        <% @doc.events.each do |event| %>
          <% if event["type"] == "creation" %>
            <li><%= event["text"] %></li>
          <% else %>
            <li><strong><%= event["source"] %></strong><%= event["text"] %></li>
          <% end %>
        <% end %>
      </ul>

    </section>

  </div>


  <div id='side'>
    <div id='side-inner'>
      <img id='thumbnail' src="<%= @doc.file.source.thumb.url %>">

      <ul class='bare'>
        <li><a href="<%= @doc.file.source.url %>">Download the file</a></li>
        <li><a href="#">Delete</a></li>
      </ul>
    </div>
  </div>
</div>

<section id='comments-section'>
  <h2>Comments:</h2>
  <ul id='comments'>
    <% if @doc.comments.any? %>
      <% @doc.comments.each do |comment| %>
        <li>
          <div class='avatar'>
            <img src="<%= comment.gravatar %>">
          </div>

          <div class='content'>
            <header style='border: none; margin-bottom: 10px;'>
              <strong><%= comment.source.name %></strong>
            </header>

            <%= comment.body %>
          </div>

        <div class='clear'></div>
        </li>
      <% end %>
    <% else %>

    <p class='empty'>No comments yet.</p>

    <% end %>
  </ul>

  <form id='add-comment' action='/comments' method='post'>
    <p><strong>Add A Comment</strong></p>
    <textarea name='comment[body]'></textarea>
    <input type='hidden' value='<%= current_user.id %>' name='comment[user_id]'>
    <input type='hidden' value='<%= @doc.id %>' name='comment[document_id]'>
    <button>Add Comment</button>
  </form>

</section>

</section>
