<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<script id="document-template" type="text/x-handlebars-template">
  <div id='document-preview'>
    <img src='{{ file.thumbnail_url }}' />
    <header>
      <p>{{ file.name }}</p>
      <h2>Add A message</h2>
        <textarea>
        </textarea>
    </header>
  </div>
</script>

</head>
<body>
  <header id='bar'></header>

  <section id='app'>
    <header id='main-header'>

      <h1 id='masthead'><%= link_to "Briefcase", root_url %></h1>

      <%= render :partial => "shared/navigation" %>

      <div class='clear'></div>
    </header>

    <%= render :partial => "shared/flash", locals: { flash: flash } %>

    <section id='body'>
      <section id='main'>

        <%= yield %>

      </section>

      <section id='side'>
        <% if content_for? :side %>
          <%= yield :side %>
        <% end %>
    
      </section>

      <div class='clear'></div>

      <footer>
        <p>Finite Loop Software 2012</p>
      </footer>
    </section>
  </section>    
</body>
</html>
